<!-- <footer class="footer">


</footer> -->

<footer class="footer">
  <div class="container">

    <p class="text-center">
      <a href="http://www.fit.fraunhofer.de">Fraunhofer FIT</a> | <a href="http://www.fit.fraunhofer.de/en/imprint.html">Imprint</a> | <a href="http://www.fit.fraunhofer.de/en/data_protection.html">Data Protection Policy</a>
    </p>
    <!-- <p class="text-muted">Place sticky footer content here.</p> -->
  </div>
</footer>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>
